/* Start Footer */
footer {
  background-color: #333;
  color: white;
  padding: 40px 0;
  text-align: center;
  .links {
    a {
      display: inline-block;
      color: white;
      padding: 15px;
    }
  }
  p {
    font-weight: 400;
    a,
    span {
      color: #ff305b;
      font-weight: 900;
    }
    a {
      letter-spacing: 2px;
    }
  }
}
/* End Footer */
